{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-4">
    <p class="text-xl font-bold mb-4">
جملات بهم ریخته به کمک بانک ، تکمیل شود
<br>
        پنج جمله نمایش داده شود و مراجعه کننده مشخص کند کدام درست است یا نه و اگر اشتباه است ، مراجعه کننده ، درست آن را بنویسد

    </p>
    نقش های معنایی فعل ، فاعل ، حرق اضافه برای هر یک از جملات مشخص کن
    <br>
    <button>
        رفتن به بانک
    </button>
<br>

{#  <a href="{% url 'card_detail' card.id 21 %}" class="btn btn-primary">رفتن به قسمت بعدی</a>#}
</div>
{% endblock %}